/* credits to the vencord css snippet channels for most of the code. */
/* I DO NOT OWN ANY OF THIS CODE, THIS IS JUST A BUNDLE OF CSS SNIPPETS FROM DISCORD.GG/VENCORD. */

@import url('https://nyri4.github.io/Discolored/main.css');
@import url('https://raw.githubusercontent.com/Vortex-Chaos/Discord-Connections-Glow/main/Code.css');
@import url('https://raw.githubusercontent.com/Panniku/vc-snippets/main/BetterSpotifyPlayer.css');
@import url('https://ukrioo.github.io/cssCord/Other/TabCord.css');
@import url('https://s-k-y-l-i.github.io/discord-themes/Theme%20code/transparent-popups.css');

/* Config */
:root{
    --blur-popup: 40px; /*Popup blur size*/
    --opacity-popup: 0.6; /*Popup background opacity*/  
    --radius-popup: 40px; /*Popup border radius*/
    --radius-context: 20px; /*Context menu popups radius*/
    /*--pop-up-color: black; /*uncomment for custom Popup color*/ 
    /*--context-menu-border: 1px solid red; /*uncomment for custom border*/
}

.attachmentContentItem_ef9fc2 { width: unset !important; height: unset !important; }
.loadingOverlay__4d818 { aspect-ratio: unset !important }

* {
    scrollbar-width: unset !important;
    scrollbar-color: unset !important;
}

.buttons_ce5b56 {
    margin: 6px 6px 6px auto !important;
    margin-left: auto;
    max-width: calc(40px * 6); /* CHANGE HERE: 6 columns when expanded */
    min-width: calc(40px * 2); /* CHANGE HERE: 2 columns when collapsed */
    width: min-content;
    display: flex;
    gap: 6px 0;
    flex-wrap: wrap-reverse;
    flex-grow: 1;
    height: fit-content;
    justify-content: right;
}
.buttons_ce5b56 .buttonContainer__8b164,
.buttons_ce5b56 > .button_afdfd9 {
    width: 40px;
}
.separator__8424b {
    margin: 0;
    justify-content: center;
    width: 40px;
}
.separator__8424b::before {
    display: none;
}
.separator__8424b .innerButton_debeee {

    margin: 0;
}
.textArea__74543 {
    width: fit-content;
    flex-grow: 1.01;
}
[id*="popout_"]::after, [class*=menu]::after {
    content: "";
    position: absolute;
    top: -50px;
    right: 0;
    width: 50px;
    height: 50px;
    background-image: url('https://media.discordapp.net/stickers/1217112512374505613.png');
    background-size: cover;
}

.messagesWrapper_ea2b0b {
    overflow: hidden;
}
.newMessagesBar__8b6d7 {
    top: -48px;
    height: 72px;
    transition: top 0.2s ease;
    background: none;
    box-shadow: none;
    border-radius: 0;
}
.newMessagesBar__8b6d7::before {
    content: '';
    background: var(--brand-experiment);
    box-shadow: var(--elevation-low);
    width: 100%;
    position: absolute;
    height: 32px;
    border-radius: 12px;
}
.newMessagesBar__8b6d7:hover {
    top: -12px;
}

button.button__4f306 /* make user panel buttons round */ {
    border-radius: 50%;
}
.button__4f306:last-child /* settings button */, 
.attachButton_b1db83 .attachButtonInner__3ce2b /* upload button */,
.emojiButton__30ec7 .contents_fb6220 /* emoji button */,
.closeButton__34341 /* settings exit button */ {
    transition: transform 1s ease;
}
.button__4f306:last-child:hover,
.attachButton_b1db83:hover .attachButtonInner__3ce2b,
.emojiButton__30ec7:hover .contents_fb6220,
.closeButton__34341:hover {
    transform: rotate(360deg);
}

.wrapper__7bcde .link__95dc0 /* channels */,
.container__4f20e /* members */,
.channel_c21703 /* dms */,
.side_b4b3f6 .item__48dda /* settings */ {
    transition: margin-left 0.2s ease;
}
.wrapper__7bcde:hover .link__95dc0,
.side_b4b3f6 .item__48dda:hover {
    margin-left: 10px;
}
.container__4f20e:hover,
.channel_c21703:hover {
    margin-left: 18px;
}
 { opacity: 1 !important;
   transform: unset !important; }

